<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">News App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{^authenticated}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {{/authenticated}}
      <li class="nav-item">
        <a class="nav-link" href="#">View All Posts</a>
      </li>
      {{#authenticated}}
      <li class="nav-item">
        <a class="nav-link" href="/users/add-article">Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/articles">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
      {{/authenticated}}
    </ul>
  </div>
</nav>