<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
 <title>Your Articles</title>
</head>
<body>
 


 <div class="container">
  <h1>Your Articles</h1>
  {{>menu}}
<div class="list-group">
  {{#articles}}
  
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{title}}</h5>
    </div>
    <p class="mb-1">{{body}}</p>
    <div class="article-buttons">
      <a href="/users/articles/edit/{{articleid}}">
          <button type="button" class="btn btn-primary">Edit</button>
      </a>
      <form action="/users/delete-article" method="POST">
        <input type="hidden" name="articleId" value={{articleid}}>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  {{/articles}}
</div>

</div>
 {{>footer}}
</body>
</html>