<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
 <title>Add Article</title>
</head>
<body>
  
  
  <div class="container">
  <h1>Edit Your Article</h1>
   {{>menu}}

<form action="/users/update-article" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" value="{{title}}" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea class="form-control" name="description">{{body}}</textarea>
  </div>
  <input type="hidden" name="articleId" value="{{articleid}}">
  <button type="submit" class="btn btn-primary">Submit</button>

  {{#message}}
     <div class="alert alert-danger">
          {{message}}
     </div>
  {{/message}}
</form>
</div>

 {{>footer}}
</body>
</html>