<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
 <title>Articles</title>
</head>
<body>
 


 <div class="container">
  <h1>Latest Articles</h1>
  {{>menu}}
<div class="list-group">
  {{#articles}}
  
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{title}}</h5>
    </div>
    <p class="mb-1">{{body}}</p>
  {{/articles}}
</div>

</div>
 {{>footer}}
</body>
</html>