<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
 <title>Register</title>
</head>
<body>
  
  
  <div class="container">
  <h1>register</h1>
   {{>menu}}

<form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  {{#message}}
     <div class="alert alert-danger">
          {{message}}
     </div>
  {{/message}}
</form>
</div>

 {{>footer}}
</body>
</html>